//colors
$color-primary: #4ee1a0;

$color-secondary: #151515;
$color-secondary-light: #242424;

$color-white: #ffffff;
$color-gray: #d9d9d9;

$color-red: #ff6f5b;
//font
$default-font-size: 1.6rem;
$large-font-size: 4rem;
$medium-font-size: 2.4rem;

$font-weight-bold: 700;
$font-weight-medium: 400;
$font-weight-thin: 300;
